/* Main */
main {
    overflow-x: hidden;
    width: 100%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-bottom: 10%;
}

.hero-section {
    background-image: url('contents/brushes.jpg') !important;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    /* background-position: center; */
    height: 85vh;
    position: relative;
    z-index: 3;
}


.hero-section h1 {
    align-items: flex-end;
    padding-top: 8%;
    text-align: right;
}

/* history */
.history {
    top: 23rem;
    z-index: 3;
    left: 0;
}

/* About Us */

.history {
    position: absolute;
    margin: 10% 5% 5% 5%;
    padding: 50px;
    box-shadow: gray 2px 2px 2px 2px;
    border-radius: 10px;
    transition: transform 0.8s ease-in-out;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    right: 0;
    gap: 10px;
    width: 50%;
    background-color: white;
}


.history:hover {
    transform: scale(1.05);
}

.history h2 {
    color: #0091dc;
    font-family: Space Grotesk;
    font-size: 20px;
    font-weight: 100;
    /* padding-bottom: 10px; */
}

.history h3 {
    /* color: #1572E0; */
    font-family: Roboto;
    font-weight: 100;
    font-size: 40px;
    color: black;
    padding-bottom: 10px;
}

.history p {
    font-weight: 500;
    line-height: 30px;
    color: black;
    padding-bottom: 20px;
}

/* Media query */
/* screen 1280 */
@media screen and (max-width:1280px) {

    /* history */
    .history {
        top: 27rem;
    }


}


/* screen 1114 */
@media screen and (max-width:1114px) {
    main {
        gap: 6rem;
    }

    /* history */
    .history {
        top: 22rem;
    }
}


/* screen 944 */
@media screen and (max-width:944px) {
    main {
        gap: 8rem;
    }
}


/* screen 884 */
@media screen and (max-width:884px) {
    main {
        gap: 9rem;

    }

    .hero-section div {
        padding-top: 20% !important;
    }


    .hero-section {
        height: 60vh !important;


    }

    /* history */
    .history {
        top: 30rem;
        width: 70%;
    }
}


/* screen 768 */
@media screen and (max-width:768px) {

    main {
        gap: 8rem;
        margin-bottom: 5% !important;
    }


    .history {
        top: 27rem;
        margin: 6% 0% 5% 0%;
        right: 0;
        left: 10%;
        width: 80%;
    }

    .about {
        margin: 10% 0% 20% 0% !important;
    }

}

/*screen 428  */
@media screen and (max-width:428px) {
    main {
        gap: 15rem;
    }

    .hero-section {
        height: 75vh !important;
    }

    .hero-section h1 {
        padding-top: 25%;

    }


    .history {
        top: 27rem;
        padding: 30px;
    }

    main {
        gap: 10rem;
        margin-bottom: 58% !important;
    }


    .about_us {
        top: 70rem !important;
        padding: 30px;
    }
}

/* Screen 390 */
@media screen and (max-width:390px) {
    main {
        gap: 13rem;
        margin-bottom: 62% !important;
    }

    .history {
        top: 25rem;
        padding: 30px;
    }


    .about_us {
        top: 70rem !important;
        padding: 30px;
    }

}

/* Screen 375 */
@media screen and (max-width:375px) {
    main {
        gap: 15rem;
        margin-bottom: 90% !important;
    }

    .about_us {
        top: 75rem !important;
        padding: 30px;
    }
}

/* Screen 360 */
@media screen and (max-width:360px) {
    main {
        gap: 13rem;
        margin-bottom: 100% !important;
    }

    .about_us {
        top: 68rem !important;
    }
}


/* Screen 320 */
@media screen and (max-width:320px) {

    .hero-section div {
        padding-top: 25% !important;
    }


    .hero-section {
        height: 80vh !important;


    }

    main {
        gap: 18rem;
        margin-bottom: 140% !important;
    }

    .about_us {
        top: 71rem !important;
    }

    .history {
        top: 20rem;
        padding: 30px;
    }
}